.SelectComponent {
    padding: 20px;
}

.selector {
    padding: 5px;
    background-color: #c7c9c8;
    border: 3px solid #1f7346;
    border-radius: 5px;
    width: 290px;
    /*height: 50px;*/
}

.header {
    display: flex;
}

.currentOption {
    color: #1f7346;
    cursor: pointer;
}

.MainSign {
    color: #1f7346;
}

.allOptions {
    margin-top: 20px;
}

.optionsToChose {
    background-color: #c7c9c8;
    color: #1f7346;
    padding: 10px;
    border: 3px solid #1f7346;
    border-radius: 5px;
    width: 290px;
}

.singleOption:hover {
    opacity: 0.5;
    cursor: pointer;
}

.description {
    padding: 20px;
}