.dark {
    background: dimgrey;
}

.dark-text {
    color: dimgrey;
    min-height: 330px;
}

.red {
    background: lightcoral;
}

.red-text {
    color: lightcoral;
    min-height: 330px;
}

.some {
    background: lightgreen;
}

.some-text {
    color: lightgreen;
    min-height: 330px;

}

.SuperSelectPos {
    display: flex;
    justify-content: space-around;
}
/*.textStyle {*/
/*    width: 400px;*/
/*    min-height: 330px;*/
/*}*/
