
.inputSpanEditContainer {

}

.spanClassName {
    display: inline-block;

    height: 31px;
    padding-top: 7px;
    margin-bottom: 13px;

    cursor: pointer;
    color: red;
    font-size: 18px;

}

.inputClassName {

}

.buttonContainer {

}

.inputClassName {

}
