.delBtn {
    /*position: absolute;*/
    /*right: 250px;*/
    /*border: 2px solid white;*/
    /*border-radius: 5px;*/
}
.affair {
    min-width: 200px;
    /*padding: 5px;*/
}
.commonAffair {

}
.affairPriorityList {
    margin-left: 15px;
}
.priorityBtn {
    width: 70px;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
.priorityBtnStack {
    margin-top: 30px;
    margin-left: 40px;
}
.mappedAffairs {
    min-height: 150px;
}

.affairContainer {
    display: flex;
}