.MainInput {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
    flex-direction: column;
}

.input {
    width: 250px;
}

.superInput {

    outline: none;
    background-color: gray;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}