.default {
    margin: 10px;
    width: 100px;
    background: green;
}

.red {
    width: 100px;
    background: red;
    margin: 10px;
}

.default:hover {
    opacity: 0.5;
}

.red:hover {
    opacity: 0.5;
}