.mainHeaders {
    min-height: 100px;
    width: 400px;
    padding: 10px;

    transition-duration: 500ms;
    transform: translate(-310px);
}
.mainHeaders:hover {
    transition-duration: 100ms;
    transform: translate(0);
}

.HW5 {

}

.navLinks {
    width: 500px;
    margin-top: 20px;

}

.eachSingleLink {
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
}

.eachSingleLink:hover {
    opacity: 0.5;
}

.active {
    color: orange;
}

.headerRemote {
    width: 30px;
    height: 16px;
    background-color: gray;
}